@import url('responsivity.css');

@font-face {
    font-family: 'FontMenu';
    src: url(../fonts/Baloo2-Regular.ttf);
}

@font-face {
    font-family: 'FontDesc';
    src: url(../fonts/UbuntuCondensed-Regular.ttf);
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cabecalho-principal {
    display: flex;
    background-color: #1A1C20;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.btn {
    color: #F4F4F4;
    font-family: 'FontMenu';
}

.cabecalho-nav {
    text-align: center;
    background-color: #F4F4F4;
    padding: 5px;
}

.cabecalho-nav nav ul li {
    display: inline-block;
    margin: 0 8px;
}

.cabecalho-nav nav ul li a {
    color: #1A1C20;
    font-family: 'FontMenu';
    font-size: 16px;
    padding: 5px;
}

.cabecalho-nav nav ul li a:hover {
    background-color: #DDD;
}

.destaque {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../img/pexels-scott-webb-2824173.jpg);
    background-size: cover;
    height: 560px;
}

.destaque .slider {
    display: block;
    position: relative;
    width: 540px;
    height: 100%;
}

.destaque .slider li {
    position: absolute;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #F4F4F4;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    box-shadow: 3px 3px 3px #1A1C20;
    position: absolute;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.slider li input:checked ~ label {
    box-shadow: 2px 2px 2px #1A1C20 inset;
}

.desc-slide {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 580px;
    height: 100%;
    padding-top: 50px;
}

.desc-slide h1 {
    text-transform: uppercase;
    color: #F0A500;
    font-size: 100px;
    font-family: 'FontDesc';
}

.desc-slide p {
    text-transform: uppercase;
    font-family: 'FontDesc';
    color: #1A1C20;
    font-size: 30px;
    margin-top: 50px;
}

.btn-comprar {
    background-color: #1A1C20;
    width: 150px;
    padding: 10px;
    margin: 50px auto;
    font-weight: bold;
}

.produtos {
    background: linear-gradient(#F0A500, #CF7500);
    padding-top: 10px;
}

.btn-prod {
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'FontMenu';
    background-color: #1A1C20;
    width: 105px;
    padding: 10px;
    font-weight: bold;
    color: #F4F4F4;
}

.prod-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.prod-lista h2 {
    color: #F4F4F4;
    font-family: 'FontDesc';
}

.prod-lista ol {
    text-align: center;

}

.prod-lista li {
    display: inline-block;
    margin: 0 10px;
    padding-bottom: 10px;
    transition: 0.7s;
    cursor: pointer;
}

.prod-lista li:hover {
    transition: 0.7s;
    transform: scale(1.2) rotate(-5deg);
}

.prod-lista img {
    width: 220px;
    height: 270px;
}

.servicos {
    background-color: #1A1C20;
    padding-top: 10px;
}

.servicos-render {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10px;
}

.entrega, .atendimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
    padding: 20px;    
    border-radius: 5px;
    margin-bottom: 20px;
}

.entrega h2, .atendimento h2 {
    font-size: 35px;
    font-family: 'FontDesc';
    margin-bottom: 15px;
}


.entrega-box, .atendimento-box {
    display: flex;
    width: 340px;
}

.entrega-box div, .atendimento-box div {
    width: 210px;
}

.entrega-box div h3, .atendimento-box div h3 {
    font-size: 25px;
    font-family: 'FontDesc';
    margin-bottom: 10px;
}

.entrega-box div p, .atendimento-box div p {
    font-size: 18px;
    font-family: 'FontDesc';
}
